#LACROUX {
    border: 10px solid #ff00ff; 
    background-color: #fce4ec;
}
#LACROUX p {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-top: 5px;
    text-align: center;

}
    
