body {
 font-family: Arial, sans-serif;
 background-color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6 {
 color: #333;
}

img {
width: ;
height: 150px;
}
#BRANQUART {
    font-size: 24px; /* change the font size */
    color: #1972D7; /* change the text color */
}
